// SOME COLOURS
/* f7f5f5
e2dcdc
bfb6b6
d1cfcf
353232
423f3f
*/

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  user-select: none;
}
body.no-of {
  overflow-y: hidden !important;
}
*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}
a, a:link, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}


.scene {
  .scene_element {
    will-change: opacity;
    animation-name: fadeIn;
    animation-duration: 600ms;
    transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
    animation-fill-mode: both;
  }
  &.is-exiting {
    cursor: progress;
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }
}


.fd {
  .char {
    opacity: 0;
    animation: fadeInUp 0.66s cubic-bezier(0,.75,0,1) 0s both;
    animation-delay: calc(200ms + 0.35s * var(--char-percent));
  }
}
.fp {
  .char {
    opacity: 0;
    animation: fadeIn 0.66s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s both;
    animation-delay: calc(600ms + 0.66s * var(--char-percent));
  }
}
.fd, .fp {
  opacity: 0;
  will-change: opacity;
  transition: opacity 0ms linear;
}

.faded {
  opacity: 1;
}

.ev {
  h1 .char, h2 .char {
    opacity: 0;
  }
  &[data-scroll="in"] h1, &[data-scroll="in"] h2 {
    .char {
      will-change: transform, opacity;
      animation: fadeInUp 0.66s cubic-bezier(0,.75,0,1) 0s both;
      animation-delay: calc(0.35s * var(--char-percent));
    }
  }
  h3, p, .button-holder {
    will-change: opacity, transform;
    transition: opacity 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  h3, p {transition-delay: 450ms;}
  .button-holder {transition-delay: 800ms;}

  &[data-scroll="out"] h3, &[data-scroll="out"] p, &[data-scroll="out"] .button-holder {
    opacity: 0;
    transform: translateY(25px);
  }

  &[data-scroll="out"] .wiper {
    width: 100%;
  }
  &[data-scroll="in"] .wiper {
    width: 0%;
    will-change: width;
    transition: width 780ms cubic-bezier(0.445, 0.095, 0.040, 1.000);
    transition-delay: 1000ms;
  }
}







.button-holder {
  display: block;
  margin: 48px 0 0 0;
  overflow: visible;
}
a.button, a.a-button {
  position: relative;
  display: inline-block;
  text-align: center;
  .char {
    backface-visibility: hidden;
    will-change: color, transform;
    transition:
    color calc(120ms * calc( var(--word-total))) cubic-bezier(0.600, 0.000, 0.000, 1.000),
    transform calc(160ms * calc( var(--word-total))) cubic-bezier(0.600, 0.000, 0.000, 1.000);
    transition-delay: calc( 48ms * var(--word-index) );
    &:after {
      visibility: visible;
      margin-top: 44px;
      z-index: 2;
    }
  }
}
a.button {
  border: 2px solid rgba(245,169,27,1);
  background: rgba(250,174,32,0);
  margin: 0 0;
  padding: 0 33px;
  border-radius: 366px;
  height: 62px;
  padding: 17px 33px 13px 33px;
  transition: background 420ms cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 1420ms cubic-bezier(0.070, 0.915, 0.265, 1.390), border 420ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  will-change: background, transform, border;
  overflow: hidden;
  transform-origin: center center;
  transform: scale(1);
  .s-inner {
    backface-visibility: hidden;
    overflow: hidden;
    height: 28px;
    line-height: 24px;
    padding: 0px 4px 0px 0px;
    color: rgba(250,174,32,1);
    * {
      backface-visibility: hidden;
    }
    span.splitting {
      font-size: 1.208em;
      font-weight: 600;
      word-spacing: 0.1em;
      letter-spacing: -0.058em;
      .char {
        &:after {
          color: rgba(250,174,32,0);
        }
      }
    }
    i {
      color: rgba(250,174,32,1);
      font-size: 0.92em;
      display: inline-block;
      vertical-align: middle;
      margin-left: 1.2em;
      transform: translateY(-1px);
      transition: color 180ms ease-out;
    }
  }
  &:hover span.splitting .char:after {
    color: rgba(255,255,255,1);
  }
  &:hover span.splitting .char {
    transform: translateY(-44px);
    color: rgba(250,174,32,0);
  }
  &:hover {
    background: rgba(250,174,32,1);
    border: 2px solid rgba(245,169,27,0);
    transform: scale(1.07);
    i {
      color: rgba(255,255,255,1);
      transition: color 180ms 180ms ease-out;
    }
  }
  &:active {
    transform: scale(1);
    transition: transform 80ms cubic-bezier(0.070, 0.915, 0.265, 1.390);
  }
}
a.a-button {
  margin: 24px 0;
  padding: 14px 0px 12px 0px;
  line-height: 28px;
  will-change: opacity;
  transition: opacity 40ms ease-out;
  backface-visibility: hidden;
  .a-inner {
    overflow: hidden;
    height: 28px;
    line-height: 24px;
    padding: 0px 4px 0px 0px;
    color: rgba(250,174,32,1);
    span.splitting {
      font-size: 1.328em;
      font-weight: 600;
      word-spacing: 0.1em;
      letter-spacing: -0.058em;
      .char {
        &:after {
          color: rgba(250,174,32,0);
        }
      }
    }
    i {
      color: rgba(22, 22, 23, 1);
      font-size: 0.92em;
      display: inline-block;
      vertical-align: middle;
      margin-left: 1.2em;
      transform: translateY(-1px);
    }
  }
  &:hover span.splitting .char:after {
    color: rgba(250,174,32,1);
  }
  &:hover span.splitting .char {
    transform: translateY(-44px);
    color: rgba(250,174,32,0);
  }
  &:active {
    opacity: 0.6;
  }
}


a.t-button {
  position: relative;
  display: inline-block;
  background: transparent;
  border: 2px solid rgba(245,169,27,1);
  background: rgba(250,174,32,0);
  margin: 0 0;
  padding: 0 33px;
  border-radius: 366px;
  text-align: center;
  height: 60px;
  line-height: 58px;
  transition: background 420ms cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 420ms cubic-bezier(0.070, 0.915, 0.265, 1.390), border 420ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  will-change: background, transform, border;
  overflow: hidden;
  backface-visibility: hidden;
  transform-origin: center center;
  transform: scale(1);
  &:hover {
    background: rgba(250,174,32,1);
    border: 2px solid rgba(245,169,27,0);
    transform: scale(1.07);
  }
  &:active {
    transform: scale(1);
    transition: transform 120ms cubic-bezier(0.070, 0.915, 0.265, 1.390);
  }
}
a.t-button > span {
  backface-visibility: hidden;
  font-size: 1.09em;
  letter-spacing: -0.067em;
  word-spacing: 0.1em;
  color: #f5a91b;
  will-change: color;
  font-weight: 600;
  transition: color 420ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
a.t-button.warrow > span:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  margin-left: 12px;
  font-size: 0.82em;
  display: inline-block;
}
a.t-button:hover > span {
  color: #FFFFFF;
}



section.first a.button {
  opacity: 0;
  will-change: opacity;
  animation-name: fadeIn;
  animation-duration: 650ms;
  animation-delay: 1400ms;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.attract-hover {
  display: inline-block;
}
.attract-hover-easing {
  transition: transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}


.scroll-down {
  position: fixed;
  bottom: 28px;
  left: 0;
  width: 100%;
  padding: 0 28px;
  text-align: center;
  pointer-events: none;
  z-index: 5;
  opacity: 1;
  will-change: opacity;
  transition: opacity 140ms ease-out;
  svg {
    pointer-events: all;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 33px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: scale(1);
    transition: transform 420ms cubic-bezier(0.070, 0.915, 0.265, 1.390);
    &:hover {
      transform: scale(1.07);
      transition: transform 160ms cubic-bezier(0.070, 0.915, 0.265, 1.390);
    }
    &:active {
      transform: scale(0.96);
    }
    .scroll-circ {
      transform-origin: 50% 50%;
    }
    .scroll-lines {
      fill: none;
      stroke: #F5A91B;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 18;
      stroke-dashoffset: 0;
    }
  }
}
.fout {opacity: 0 !important;}
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 112px;
  line-height: 112px;
  padding: 0 0;
  background: #FFFFFF;
  z-index: 99998;
  text-align: center;
  will-change: top, box-shadow;
  transition: top 230ms ease-out, box-shadow 90ms linear;
  box-shadow: 0px 1px 4px rgba(0,0,0,0);
}
.top-menu.sc-sh {
  box-shadow: 0px 1px 4px rgba(0,0,0,0.16);
}
.top-menu.is-hidden {
  top: -116px;
}
.top-menu .container {
  margin: 0 auto;
  max-width: 1860px;
  height: auto;
}
.top-menu .logo {
  display: inline-block;
  // margin: 0 12px 0 0;
  margin: 0 0;
  padding: 0 0;
  float: left;
}
.top-menu .logo > a > h1 {
  color: #161617;
  font-size: 2.66em;
  font-weight: 600;
  letter-spacing: -0.062em;
}

.top-menu .cta {
  display: inline-block;
  float: right;
  height: 112px;
  padding: 26px 0 0 0;
}
.top-menu .cta > a.button, .top-menu .cta > .button-holder {
  margin: 0 0;
}



.menu-container {
  position: relative;
  width: 100%;
  max-width: 398px;
  margin: 0 auto;
  margin-left: -31px;
  display: inline-block;
  text-align: center;
  transform: translateY(3px);
}

.main-menu {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0;
  display: block;
  text-align: center;
  height: 48px;
  line-height: 48px;
}

.main-menu ul {
  width: 398px;
  margin: 0 auto;
  list-style: none;
  list-style-type: none;
  position: relative;
  font-size: 1.061em;
  padding: 0;
  text-align: center;
}
.main-menu ul > li {
  display: inline-block;
  cursor: pointer;
  margin: 0 -2px;
  font-size: 1.08em;
  color: #161617;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.008em;
}
.main-menu ul > li > a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 -2px;
  padding: 0px 42px;
  transition: color 0.35s ease-out, opacity 0.35s ease-out;
}
.main-menu ul > li.active, .main-menu ul > li.active > a {
  cursor: default;
}
.main-menu ul > li:active > a {
  opacity: 0.5;
  transition: opacity 30ms ease-out;
}
.main-menu ul > li.active > a {
  // opacity: 0.5;
  color: #f5a91b;
  pointer-events: none;
}
.main-menu ul > li > a > span {
  display: inline-block;
}
#slide-line {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #f5a91b;
  transition: left 220ms cubic-bezier(0.410, 0.050, 0.175, 1.000), width 360ms cubic-bezier(0.410, 0.050, 0.175, 1.000);
}
.main-menu ul:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
*:first-child + html .main-menu > ul {
  zoom: 1;
}

.menu-toggle {
  position: absolute;
  top: 0px;
  right: 28px;
  width: 66px;
  height: 112px;
  display: none;
  cursor: pointer;
}
.menu-toggle .hb {
  position: absolute;
  top: 31px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  backface-visibility: hidden;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: transform 375ms 125ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  .st {
    fill: none;
    stroke: #161617;
    stroke-width: 5.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
      &.top, &.bot {
        stroke-dasharray: 53 126;
        stroke-dashoffset: -73;
      }
      &.circ {
        stroke: #f5a91b;
        stroke: #161617;
        stroke-dasharray: 290;
        stroke-dashoffset: -290;
      }
      &.top, &.bot, &.circ {
        transition: stroke-dashoffset 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
      }
  }
}
.menu-toggle {
  &.toggled {
    .hb {
      transform: rotate(-45deg);
        .top, .bot {
          stroke-dashoffset: 0;
        }
        .circ {
          stroke-dashoffset: 0;
          transition: stroke-dashoffset 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        }
    }
  }
}

main {
  position: relative;
  margin: 0 auto 460px auto;
  width: 100%;
  padding: 0;
  max-width: 100%;
  z-index: 1;
  background-color: #FFFFFF;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 38px;
  height: 100%;
}
.grid {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
  position: relative;
	display: block;
	float:left;
	margin: 1% 0 1% 1.8%;
}
.col:first-child { margin-left: 0; }
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; }


.c-12 {width: 100%;}
.c-11 {width: 91.51%;}
.c-10 {width: 83.03%;}
.c-9 {width: 74.55%;}
.c-8 {width: 66.06%;}
.c-7 {width: 57.58%;}
.c-6 {width: 49.1%;}
.c-5 {width: 40.61%;}
.c-4 {width: 32.13%;}
.c-3 {width: 23.65%;}
.c-2 {width: 15.16%;}
.c-1 {width: 6.683%;}

section {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 520px;
  padding: 38px 0;
  margin: 42px auto;
  margin: 0 auto 84px auto;
  background-color: #FFFFFF;
  .c-5, .c-7 {
    padding-left:  calc(2vw + 14px);
  }
}
section.first {
  // margin: 0 auto;
}
section.center-cta {
  .c-12 {
    padding-left: 0px;
  }
}

section .grid, section .col {
  height: 100%;
}

.v-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
}
.v-inner {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
section.first h1 {
  margin-top: -18px;
}

main h1 {
  color: #161617;
  font-weight: 600;
  margin: 0;
  line-height: 1.05;
  font-size: 2.878em;
  letter-spacing: -0.0628em;
}
main h2 {
  margin: 0;
  color: #161617;
  font-weight: 600;
  line-height: 1.05;
  font-size: 2.878em;
  letter-spacing: -0.0628em;
}
main h3 {
  margin: 18px 0 0 0;
  color: lighten(#161617, 26%);
  font-weight: 400;
  line-height: 1.05;
  font-size: 1.748em;
  letter-spacing: -0.0708em;
}
main p {
  margin: 14px 0;
  color: #161617;
  color: lighten(#161617, 26%);
  line-height: 1.4;
  max-width: 640px;
  font-size: 1.128em;
  letter-spacing: -0.0228em;
}



.left-cta {
  position: fixed;
  top: calc(50% + 8px);
  text-align: center;
  left: -92px;
  display: none;
  z-index: 49;
  transform: rotate(-90deg);
  transform-origin: top -50%;
  color: #161617;
  opacity: 1;
  will-change: opacity;
  transition: opacity 100ms ease-in;
  h5 {
    font-size: 1.048em;
    font-weight: 400;
    letter-spacing: -0.042em;
    word-spacing: 0.0828em;
  }
  a {
    will-change: color;
    transition: color 120ms ease-out;
  }
  a:hover {
    color: #f5a91b
  }
  .line {
    display: inline-block;
    width: 28px;
    height: 1px;
    background-color: #161617;
    vertical-align: middle;
    margin: 0 2px;

  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 84px 0;
  height: 460px;
  width: 100%;
  max-width: 100%;
  background-color: #161617;
  z-index: 0;
  .button-holder {
    margin: 0;
  }
  .button {
    .char {
      color: #FFFFFF;
    }
    i {
      color: #FFFFFF !important;
     }
  }
  .a-button {
    .char {
      color: #FFFFFF;
    }
    i {
      color: #f5a91b !important;
      transition: color 180ms ease-out;
     }
    &:hover {
      i {
        color: #FFFFFF !important;
        transition: color 180ms 180ms ease-out;
       }
    }
  }
  .c-6 {
    padding-left:  calc(2vw + 14px);
  }
  .footer-an {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateY(25px);
    will-change: opacity, transform;
    transition: opacity 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .in-f {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
}

main:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../img/sine2.svg');
  background-size: cover;
  background-position: center center;
  background-position: no-repeat;
}


footer .right-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: lighten(#161616, 6%);
  // background: #eb5c59;
}

ul.links {
  position: relative;
  margin: 48px 0 0 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
ul.links li {
  display: inline-block;
  margin: 0 2px;
  list-style: none;
}
ul.links li:first-child {
  margin-left: 0px;
}
ul.links li:last-child {
  margin-right: 0px;
}
a.sl {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 50px;
  border-radius: 48px;
  text-align: center;
  transition: transform 420ms cubic-bezier(0.070, 0.915, 0.265, 1.390), background 180ms ease-out, color 180ms ease-out;
  backface-visibility: hidden;
  transform-origin: center center;
  transform: scale(1);
  font-size: 1.27em;
  color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
a.sl.el {background: #f5a91b;}
a.sl.fb {background: #3B5998;}
a.sl.ig {background: #cd486b;}
a.sl.tw {background: #00aced;}
a.sl.cp {background: #79e045;}
a.sl.sc {background: #ff8800;}

a.sl:hover {
  background: #FFFFFF;
  color: #f5a91b;
  transform: scale(1.07);
}

.img-container {
  position: relative;
  width: 100%;
  height: 560px;
  overflow: hidden;
  border-radius: 2px;
  background: url('../img/bg1.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  transition: box-shadow 780ms 480ms cubic-bezier(0.445, 0.095, 0.040, 1.000);
}

.img-container img {
  max-width: 100%;
}
.wiper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  will-change: width;
  transition: width 780ms cubic-bezier(0.445, 0.095, 0.040, 1.000);
}
.tile.in-view .img-container {
  box-shadow: 0px 0px 22px rgba(0,0,0,0.32);
}


.i-bg {
  position: absolute;
  top: calc(47.5vh - 215px);
  left: 0;
  width: 100%;
  max-width: 708px;
  height: 100%;
  max-height: 423px;
  display: block;
  background: rgba(235,92,89,1);
  background: -moz-linear-gradient(45deg, rgba(235,92,89,1) 0%, rgba(245,169,27,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,92,89,1)), color-stop(100%, rgba(245,169,27,1)));
  background: -webkit-linear-gradient(45deg, rgba(235,92,89,1) 0%, rgba(245,169,27,1) 100%);
  background: -o-linear-gradient(45deg, rgba(235,92,89,1) 0%, rgba(245,169,27,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(235,92,89,1) 0%, rgba(245,169,27,1) 100%);
  background: linear-gradient(45deg, rgba(235,92,89,1) 0%, rgba(245,169,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb5c59', endColorstr='#f5a91b', GradientType=1 );
  background-position: bottom left;
  background-size: 150%;
  z-index: 1;
  animation: transform 50s ease-in-out infinite both alternate;
}


.bb8-main {
  position: absolute;
  top: calc(50vh - 215px);
  left: 50%;
  width: 100%;
  max-width: 386px;
  margin-left: -193px;
  z-index: 2;
}
// BB8
.bb0{opacity:0.95;fill:#FFD2D2;}
.bb1{fill:#394D70;}
.bb2{fill:#49657F;}
.bb3{fill:#FEFEFE;}
.bb4{fill:none;stroke:#394D70;stroke-miterlimit:10;}
.bb5{fill:#F5A91B;stroke:#394D70;stroke-miterlimit:10;}
.bb6{fill:#F5A91B;}
.bb8{fill:#FFFFFF;}
.bb9{fill:#D2D2DD;}
.bb10{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.bb11{fill:#374E6E;}
.bb12{fill:#E09010;}
.bb13{fill:#E05C1D;}
.bb14{fill:#FFFDFF;}
.bb15{fill:#BFC4C3;}
.bb16{fill:#BFC5C1;}
.bb17{fill:#C2C3C5;}
.bb18{fill:none;stroke:#394D70;stroke-width:4;stroke-miterlimit:10;}
.bb7{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.bb19{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
.bb20{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.bb21{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}

.bb8-body, .bb8-head {
  transform-origin: 32.8% 62.1%;
}
.bb8-lines line {
  stroke-dasharray: 100;
  stroke-dashoffset: -95;
  // stroke-dashoffset: -1092;
}

// Trigger Finger
.tf-main {
  position: absolute;
  top: calc(50vh - 190px);
  left: 50%;
  width: 100%;
  max-width: 402px;
  margin-left: -247px;
  z-index: 2;
}
.tf0{opacity:0.95;fill:#FFD2D2;}
.tf1{fill:#D1CFCF;stroke:#394D70;stroke-width:16;stroke-miterlimit:10;}
.tf2{fill:#FFFFFF;}
.tf3{fill:#E2DCDC;stroke:#BFB6B6;stroke-width:4;stroke-miterlimit:10;}
.tf4{fill:none;stroke:#394D70;stroke-width:22;stroke-miterlimit:10;}
.tf5{fill:#353232;stroke:#EB5B59;stroke-width:3;stroke-miterlimit:10;}
.tf6{fill:#3D3C3C;}
.tf7{fill:none;stroke:#394D70;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.tf8{fill:none;stroke:#F5A91B;stroke-width:3;stroke-miterlimit:10;}
.tf9{fill:#3D3C3C;stroke:#394D70;stroke-width:6;stroke-miterlimit:10;}
.tf10{fill:#353232;}
.tf11{fill:none;stroke:#0000FF;stroke-width:3;stroke-miterlimit:10;}
.tf12{fill:#3D3B3B;stroke:#394D70;stroke-width:6;stroke-miterlimit:10;}
.tf13{fill:#F5A91B;}
.tf14{fill:#FFFFFF;stroke:#F5A91B;stroke-width:3;stroke-miterlimit:10;}
.tf15{fill:#394D70;}
.tf16{fill:#D1CFCF;stroke:#F5A91B;stroke-width:5;stroke-miterlimit:10;}
.tf17{fill:#3A3838;stroke:#394D70;stroke-width:2;stroke-miterlimit:10;}
.tf18{fill:#EB5B59;}
.tf19{fill:#353232;stroke:#394D70;stroke-width:6;stroke-miterlimit:10;}
.tf20{fill:#423F3F;}
.tf21{fill:#F7F5F5;}
.tf22{fill:#3A3838;stroke:#394D70;stroke-width:8;stroke-miterlimit:10;}
.tf23{fill:#3D3C3C;stroke:#394D70;stroke-width:8;stroke-miterlimit:10;}
.tf-knob.one {transform-origin: 41.1% 18.7%;}
.tf-knob.two {transform-origin: 46.6% 10.9%;}
.tf-knob.three {transform-origin: 54.8% 18.6%;}
.tf-knob.four {transform-origin: 60.2% 10.9%;}
.tf-knob.five {transform-origin: 68.4% 18.8%;}
.tf-knob.six {transform-origin: 73.9% 10.9%;}
.tf-knob.seven {transform-origin: 82.1% 18.6%;}
.tf-knob.eight {transform-origin: 87.6% 10.9%;}
.tfp {
  cursor: pointer;
  will-change: opacity;
  transition: opacity 110ms ease-out;
}
.tfp .tf10 {
  will-change: opacity;
  transition: opacity 240ms ease-out;
}
.tfp:hover .tf10 {
  opacity: 0;
}
.tfp:active {
  opacity: 0.8;
  transition: opacity 40ms ease-out;
}
.fcb-stroke {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-dasharray: 10;
  stroke-dashoffset: -10;
  animation-name: cppop;
  animation-duration: 300ms;
  animation-timing-function: linear;
  stroke-dasharray: 10;
}
.pop {
  pointer-events: none !important;
  width: 38px;
  height: 38px;
  margin-left: -19px;
  margin-top: -19px;
  z-index: 999 !important;
  position: absolute;
}


section.center-cta {
  height: auto;
  padding-bottom: 128px;
}
section.center-cta h2 {
  display: block;
  margin: 0 auto;
  max-width: 480px;
}
.illus-center {
  position: relative;
  margin: 48px auto 24px auto;
  width: 100%;
  max-width: 886px;
  height: 486px;
}
.illus-center .i-bg {
  top: auto;
  bottom: 48px;
  left: 50%;
  margin-left: -354px;
}
// Lamp
.lamp {
  margin-top: 112px;
}
.lamp-main {
  position: absolute;
  bottom: 28px;
  left: 50%;
  width: 100%;
  max-width:780px;
  margin-left: -390px;
  z-index: 2;
}
.lm0{opacity:0.1;fill:#FFFFFF;}
.lm1{opacity:0.15;fill:#FFFFFF;}
.lm2{opacity:0.9;fill:#FFE6E6;}
.lm3{fill:#FFE6E6;}
.lm4{opacity:0.25;fill:#FFFFFF;}
.lm5{opacity:0.1;fill:#394D70;}
.lm6{opacity:0.95;fill:#FFD2D2;}
.lm7{fill:#394D70;}
.lm8{fill:#49657F;}
.lm9{fill:#2B2929;}
.lm10{fill:#3D3B3B;}
.lm11{fill:#FFFFFF;}
.lm12{fill:none;stroke:#F5A91B;stroke-width:2;stroke-miterlimit:10;}
.lm13{opacity:0.2;fill:#2B2929;}
.lm14{opacity:0.3;fill:#FFFFFF;}
.lamp-s, .lamp-bl-1, .lamp-bl-2 {
  transform-origin: 50% 50%;
}


.center {
  text-align: center;
}
.center p {margin-left: auto; margin-right: auto;}



.faded {opacity: 1;}
.fadeo {opacity: 0;}


@keyframes fadeInUp {0% {opacity: 0; transform: translateY(25px);} 100% {opacity: 1; transform: translateY(0px);}}
@keyframes fadeIn {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes transform {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
@keyframes cppop{0%{stroke-dashoffset: -10;}50%{stroke-dashoffset: 0;}100%{stroke-dashoffset: 10;}}



@media (min-height: 560px) and (min-width: 1540px) {
  .left-cta {display: inline-block;}
}

@media screen and (max-width: 992px) {
  .top-menu {
    transition: top 160ms ease-out, box-shadow 60ms linear;
  }
  .top-menu.is-hidden {
    // top: -116px;
    top: 0px;
  }

  .scroll-down {display: none}

  .ev {
    h1 .char, h2 .char {
      opacity: 1;
      animation: none !important;
    }
    &[data-scroll="out"] h3, &[data-scroll="out"] p, &[data-scroll="out"] .button-holder {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .button-holder {
    margin: 24px 0 0 0;
  }

  .fd, .fp {
    opacity: 0;
  }
  .faded {opacity: 1;}


  .col {  margin: 1% 0 1% 0%; }
  .c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-10, .c-11, .c-12 {width: 100%;}
  .top-menu .cta {display: none;}
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    visibility: hidden;
    background: #000;
    z-index: 99999;
    display: block;
  }
  .menu-toggle {display: block;}

  section.first {height: auto; padding: 134px 0;}
  section {height: auto; padding: calc(48px + 6vw) 0; margin: 0px auto;}

  section {
    .c-5, .c-7 {
      padding-left: 0px;
    }
  }

  main {
    margin: 0 auto 0 auto;
  }
  main:after {
    background-position: -24px center;
  }
  footer {
    position: relative;
    bottom: auto;
    left: auto;
    height: auto;
  }
  .footer-sine {
    bottom: calc(-5px + -1.4vw);
  }
  footer .right-bg {display: none;}
  main h1 {
    font-size: 2.302em;
  }
  main h2 {
    // font-size: 2.022em;
    font-size: 2.302em;
  }
  main h3 {
    font-size: 1.398em;
  }
  main p {
    font-size: 0.982em;
  }
  .center-cta h2 {
    max-width: 100%;
  }
  .lamp {
    margin-top: 0;
  }
  .illus, .illus-center {
    overflow: hidden;
  }
  .illus {
    margin-bottom: 38px;
  }
  .v-inner {
    vertical-align: middle;
  }
  .tf .i-bg {
    width: 100%;
    top: 0;
    left: 0;
    max-width: 644px;
    margin-left: 0px;
    height: 100%;
    max-height: 880px;
  }
  .tf-main {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 324px;
    z-index: 2;
    margin-left: 12%;
  }
  .pop {
    width: 26px;
    height: 26px;
    margin-left: -13px;
    margin-top: -13px;
  }
  .bb8 .i-bg {
    width: 100%;
    top: 0;
    left: 0;
    max-width: 644px;
    margin-left: 0px;
    height: 100%;
    max-height: 880px;
  }
  .bb8 {
    margin-bottom: 48px;
  }
  .bb8-main {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 344px;
    margin-left: 16%;
  }
  .illus-center {
    margin-top: -48px;
  }
  .lamp-main {
    width: 100%;
    margin-left: 0%;
    left: 0%;
  }
  .lamp-main svg {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -95%);
    width: 668px;
    display: block;
    margin: 0 auto;
  }
  .lamp .i-bg {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 644px;
    margin-left: 0px;
    margin-bottom: -3.5%;
    height: 100%;
    max-height: 380px;
  }
}
@media screen and (max-width: 680px) {
  .tf .i-bg {
    max-width: 444px;
    margin-left: 0px;
  }
  .tf-main {
    max-width: 224px;
  }

  .bb8 .i-bg {
    max-width: 444px;
    margin-left: 0px;
  }
  .bb8-main {
    max-width: 224px;
  }
  .illus-center {
    margin-top: -168px;
  }
  .lamp-main svg {
    width: 468px;
  }
  .lamp .i-bg {
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-height: 277px;
  }
}

// ::-webkit-scrollbar {
//   width: 7px;
//   height: 7px;
// }
// ::-webkit-scrollbar-button {
//   width: 0px;
//   height: 0px;
// }
// ::-webkit-scrollbar-thumb {
//   background: #faae20;
//   border: 0px none #ffffff;
//   border-radius: 150px;
// }
// ::-webkit-scrollbar-thumb:hover {
//   background: #dc9103;
// }
// ::-webkit-scrollbar-thumb:active {
//   background: #c88404;
// }
// ::-webkit-scrollbar-track {
//   background: #ffffff;
//   border: 0px none #ffffff;
//   border-radius: 50px;
// }
// ::-webkit-scrollbar-track:hover {
//   background: #ffffff;
// }
// ::-webkit-scrollbar-track:active {
//   background: #ffffff;
// }
// ::-webkit-scrollbar-corner {
//   background: transparent;
// }
